--
-- Created by ada_generator.py on $date
-- 
with Ada.Containers.Vectors;
--
-- FIXME: may not be needed
--
with Ada.Calendar;

with base_types; use base_types;

with Ada.Strings.Unbounded;

package $name is

   use Ada.Strings.Unbounded;

#for $rec in $records:
$rec
#end for;
        

end $name;
