--
-- Created by ada_generator.py on $date
-- 
package environment is
   
   function Get_Server_Name return String;
   function Get_Username return String;
   function Get_Password return String;

end environment;
