--
-- Created by ada_generator.py on $date
-- 
package body environment is
   
   SERVER_NAME     : constant String := "$database";
   USER_NAME       : constant String := "$username";
   PASSWORD        : Constant String := "$password";


   function Get_Server_Name return String is
   begin
      return SERVER_NAME;
   end Get_Server_Name;
   
   function Get_Username return String is
   begin
      return USER_NAME;
   end Get_Username;
   
   function Get_Password return String is
   begin
      return PASSWORD;
   end Get_Password;

end environment;

