--
-- Created by ada_generator.py on $date
-- 
with $dataPackageName;
with db_commons;
with base_types;
with ADA.Calendar;
with Ada.Strings.Unbounded;
with Ada.Containers.Vectors;
with Ada.Containers; use Ada.Containers;

package $IOName is
  
   package d renames db_commons;   
   use base_types;
   use Ada.Strings.Unbounded;
   
#for $ass in $incr_integer_pk_fields:
   $ass
#end for;

   --
   -- returns true if the primary key parts of $outputRecordName match the defaults in $nullName
   --
   $isNullFunc
   
   --
   -- returns true if the container is empty
   --
   $isEmptyFunc

   --
   -- returns number of items of the container 
   --

   $cardFunc
  
   --
   -- returns the single $outputRecordName matching the primary key fields, or the $nullName record
   -- if no such record exists
   --
   $pkFunc
   
   --
   -- Retrieves a list of $outputRecordType matching the criteria, or throws an exception
   --
   $retrieveByCFunc
   
   --
   -- Retrieves a list of $outputRecordType retrived by the sql string, or throws an exception
   --
   $retrieveBySFunc
   
   --
   -- Save the given record, overwriting if it exists and overwrite is true, 
   -- otherwise throws DB_Exception exception. 
   --
   $saveFunc
   
   --
   -- Delete the given record. Throws DB_Exception exception. Sets value to $nullName
   --
   $deleteSpecificFunc
   --
   -- delete the records indentified by the criteria
   --
   procedure Delete( c : d.Criteria );
   --
   -- delete all the records identified by the where SQL clause 
   --
   procedure Delete( where_Clause : String );
   --
   -- functions to retrieve records from tables with foreign keys
   -- referencing the table modelled by this package
   --
#for $ass in $associated:
   $ass
#end for

   --
   -- functions to add something to a criteria
   --
#for $cr in $criteria
   $cr
#end for
   --
   -- functions to add an ordering to a criteria
   --
#for $ord in $orderingStatements
   $ord
#end for
 
end $IOName;
