   $functionHeader
      l : $listType;
      $variableDecl;
      c : d.Criteria;
   begin      
#for cr in $primaryKeyCriteria:
      $cr;
#end for;
      l := retrieve( c );
      if( $notEmpty ) then
         $getFirstRecord;
      else
         $getNullRecord;
      end if;
      return $adaName;
   end Retrieve_By_PK;
