--
-- Created by ada_generator.py on $date
-- 


with Ada.Calendar;
with Ada.Containers.Vectors;
with Ada.Exceptions;
with Ada.Strings.Unbounded; 

with AUnit.Assertions; 
with AUnit.Test_Cases.Registration; 
with AUnit.Test_Results ; use AUnit.Test_Results ; 
   
with logger;
with base_types;
with environment;
with db_commons.odbc;
with db_commons;
with $datapackage;

#for $dbpack in $dbPackages:
with $dbpack;
#end for

package body $testName is

   RECORDS_TO_ADD     : constant integer := 100;
   RECORDS_TO_DELETE  : constant integer := 50;
   RECORDS_TO_ALTER   : constant integer := 50;
   
   package d renames db_commons;
   
   use base_types;
   use ada.strings.Unbounded;
   use $datapackage;
   
   use AUnit.Test_Cases;
   use AUnit.Assertions;
   use AUnit.Test_Cases.Registration;
   
   use Ada.Strings.Unbounded;
   use Ada.Exceptions;
   use Ada.Calendar;
   
#for $test in $createTests:
   $test
#end for
   
#for $test in $childTests:
   $test
#end for
   
   
   procedure Register_Tests (T : in out Test_Case) is
   begin
      --
      -- Tests of record creation/deletion
      --
#for $test in $createRegisters:
      $test
#end for
      --
      -- Tests of foreign key relationships
      --
#for $test in $childRegisters:
      --  not implemented yet $test
#end for
   end Register_Tests;
   
   --  Register routines to be run
   
   
   function Name ( t : Test_Case ) return String_Access is
   begin
          return new String'( "$testName Test Suite" );
   end Name;

   
   --  Preparation performed before each routine:
   procedure Set_Up( t : in out Test_Case ) is
   begin
      Logger.set_Log_Level( Logger.debug_level );
   end Set_Up;
   
   --  Preparation performed before each routine:
   procedure Shut_Down( t : in out Test_Case ) is
   begin
      Null;
   end Shut_Down;

end $testName;
